.cuadricula{
    border: 1px black solid;
    height: 80px;

      
}

.nombreDia{
    font-size:1.5vw;
    
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    /*width:600px;*/
    
}

.horario{
    font-size:3vw;
    font-weight: bold;
}

div{

}