.cuadricula{
    border: 1px black solid;
    height: 80px;
    width:1000px;

      
}

.nombreDia{
    font-size:14px;
    
}

.tituloDia{
    font-size:20px;
}

#wrapper {
    margin-left:60px;;
    margin-right:auto;
   
    
}

.horario{
    font-size:3vw;
    font-weight: bold;
}

.clasedisponible{
    background-color:green;
    color:#ffff
}

.claseapuntodellenar{
    background-color: yellow;
}

.clasellena{
    background-color: red;
    color:#ffff;
}

@media (max-width: 767.98px) { 
    .nombreDia{
        font-size:0px;
    }
    .tituloDia{
        font-size:25px;
    }
}

#barra{
    color:#c1d72d;
}